<!DOCTYPE html>
<html>
	<head>
		<title>Forgot Password</title>
        <link rel="shortcut icon" href="favicon.png">
        <link rel="stylesheet" href="dist/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/background.css">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>

	<body ng-app="" style="background-image: url('images/background1.jpg'); background-size: 100% 100%;">

	<header style="padding-bottom: 55px;">
		<a href="homepage.html"> <img src="images/logo1.png" class="logo_img"> </a>
		<b style="float: left; margin-top: 7px; margin-left: 3px; ">Leave Management</b>
		<a href="sign-in.html">	<button class="logout_btn" title="Login"> Login</button></a> 
		<a href="profile.html">  <img src="images/profile_icon.jpg" class="profile_icon" title="Profile"> </a>
        <i class="far fa-question-circle" title="Help" style="float: right;margin-right: 6px;margin-left: 6px; margin-top: 10px;"></i>

	</header>

		<section>
		<center><h3 style="color: white;padding: 30px;"><strong>Forgot your password? No worries!</strong></h3></center>
		<div class="row" style="margin-right:0;">

			<div class="col-md-12 col-sm-12" id="login-pane">
				<center>
				<form id="forgot-form" method="post" name="forgotForm" >
					<table style="color: white;">
                        <tr>
                            <td colspan = "2">
                                <center>
                                        <input type="radio" name="loginAs" value="Student" id="student" required>
                                        <label for = "student"><b>Student</b></label>
                                        <input type= "radio" name="loginAs" value="Faculty" id="faculty" required>
                                        <label for = "faculty"> <b>Faculty</b></label>
                                </center>
                            </td>
						</tr> 
                        <tr>
                            <td>
                                <label for = "username">UserID:&nbsp;</label>
                            </td>
                            <td>
                                <input id="username" type = "text" name="username" required placeholder="Enter Username" ng-model="uname"><br>
                                <span ng-show="forgotForm.username.$touched && forgotForm.username.$error.required" style="color:yellow;font-size:80%;">Don't forget to enter the username.</span>
                            </td>
                        </tr>
						<tr>
							<td><label for="hint">Hint Question:&nbsp;</label></td>
							<td> 
                                <select id="hint" name="hint" required>
                                	<option value="null">Select Hint Question</option>
                                    <option value="1">What is your pet name?</option>
                                    <option value="2">Which site do you visit the least?</option>
                                    <option value="3">What is your favourite color?</option>
                                    <option value="4">What was your mother's maiden name?</option>
                                    <option value="5">Where did you go for pre-school?</option>                                
                                </select>
                            </td>
						</tr>
                        <tr>
                            <td>
                                <label for = "answer">Answer:&nbsp;</label>
                            </td>
                            <td>
                                <input id="answer" type = "text" name="answer" required placeholder="Your Answer" ng-model="answer"><br>
                                <span ng-show="forgotForm.answer.$touched && forgotForm.answer.$error.required" style="color:yellow;font-size:80%;">Don't forget to enter the answer.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for = "password">New Password:&nbsp;</label>
                            </td>
                            <td>
                                <input id="password" type = "password" name="password" required minlength="8" placeholder="Type New Password" ng-model="pass" required><br>
                                <span ng-show="forgotForm.password.$touched && forgotForm.password.$error.required" style="color:yellow;font-size:80%;">Don't forget to enter the new password.</span>
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                <label for = "rpassword">Re-type Password:&nbsp;</label>
                            </td>
                            <td>
                                <input id="rpassword" type = "password" name="rpassword" required minlength="8" placeholder="Re-Type New Password" ng-model="rpass" required><br>
                                <span ng-show="forgotForm.rpassword.$touched && forgotForm.rpassword.$error.required" style="color:yellow;font-size:80%;">
                                	Don't forget to retype the password.</span>
                            </td>
                        </tr>
					</table>
                    <center>
                        <br>
                        <input type="button" id="cancel" class="btn-danger" value="Go Back" style="width:100px;font-weight:bold;" onclick="openInNewTab('homepage.html')">&nbsp;
                        <input type="button" id="reset" class="btn-success" value="Reset" style="width:100px;font-weight:bold;">
                    </center><br><br>

                    </form>
				</center>
			</div>
		</div>	
		</section>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="dist/bootstrap.min.js"></script>
		<script src="assets/js/common.js"></script>

		<script type="text/javascript">
			$("#reset").click(function() {	
				var name1 = $("#username").val();
				var pass1 = $("#password").val();
				var pass2 = $("#rpassword").val();
				var loginAs = $("input[name='loginAs']:checked").val();
				var hint = $("#hint").val();
				var ans = $("#answer").val();
				if (pass1 === pass2) {
				alert("testing");	
				$.post("forgot.php",
					{
						name : name1, 
						pass : pass1,
						type : loginAs,
						hintq : hint,
						answer : ans
					},
					function(data, status) {
						// alert(data);
						if (data == "Successfully Updated") {
							alert(data);
						}
						else
						{
							alert(data);
						}
					});
				}
				else
				{
					alert("Password Mismatch!!");
				}
			});

		</script>
	</body>
</html>